
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Summa" >
        <classes>
<!--            <class name="RegisterPageTest" />-->
<!--            <class name="TopMenuTest"></class>-->
           <class name="AddToCartTestPage"></class>
        </classes>
    </test>
</suite>